[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "==2.22.0"

[packages]
numpy = "==1.16.3"
scikit-learn = "==0.20.3"
scipy = "==1.2.1"
PyYAML = "==5.1"
Flask-Api = "==1.1"
marshmallow = "==2.19.2"
gunicorn = "==19.9.0"

[requires]
python_version = "3.7"